<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function btn(){
            alert('버튼이 클릭되었습니다');
        }
    </script>
</head>
<body>
    <a><span onclick="window._qsie = window._qsie || []; window._qsie.push('InitiatedChat');">Chat with an agent.</span></a>
    <button onclick="window._qsie = window._qsie || []; window._qsie.push('InitiatedChat');"> 버튼 </button>
</body>
</html>